*{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  /*tirar */
}

/* Body and main --------------------------------- */
body {
    margin: 0px;
    background: hsl(0, 100%, 74%) ;
}
.container {
    width: 100vw; /* tirar */
    height: 100vh; 
    display: flex;
    justify-content: space-evenly;  /* justify-content: space-evenly */;
    align-items: center; /* tirar */
    background-image: url("images/bg-intro-desktop.png");
}

.container__box {
    width: 100%;
    /* min-width: 1440px; */
    height: 50%;
    max-width: 1440px;
    display: flex;
    gap: 5%;
    justify-content: center; /* center */
    /* align-items: center; tirar */
    padding: 0 10%; /* margin: 0 10%; */
}

/* ------------------------------------------------ */
/* Left Box --------------------------------------- */
.box__left {
    width: 45%; /* 35% */
    /* height: 100%; tirar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 5%;
    color: #f5f5f5;
}

.text__wraper {
    height: 100%;
    min-height: 100%;
}

.box__left h1 {
    font-size: 3rem;
    font-weight: 700;
}

.box__left p {
    font-weight: 500;
    font-size: 1rem;
}

/* ------------------------------------------------ */
/* Right box -------------------------------------- */
.box__right {
    width: 45%; /* 35% */
    height: 100%; /* tirar */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
}

.form__wraper {
    width: 100%;
    height: 100%;
}

.form__header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%
}

.form__header h2 {
    background: hsl(246, 23%, 48%);
    color: #f5f5f5;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0 hsla(0, 29%, 30%, 0.336);
}

.weight__700 {
    font-weight: 700;
}

.form {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem;
    border-radius: 0.5rem;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: solid 1px hsla(255, 2%, 64%, 0.253);
    margin: 2% auto;
}

.form input:focus {
    outline: none;
    border: solid 1px hsl(246, 23%, 48%);
}

.form button {
    background: hsl(154, 59%, 51%);
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #f5f5f5;
    padding: 0.5rem;
    margin: 2%;
    border: none;
    border-radius: 0.5rem;
}

.form h3 {
    width: 100%;
    padding: 1%;
    font-size: 0.6rem;
    color: #b4afaf;
}

.letraVermelha {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}




/* ------------------------------------------------ */
/* Footer ----------------------------------------- */
