*{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Body and main --------------------------------- */
body {
    height: 100vh;
    background-image: url(images/bg-intro-desktop.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 5rem; */
}
.container {
    width: 100vw;
    max-width: 1440px;
    height: 100vh; 
    max-height: 900px;
    min-height: 900px;
    background: hsl(0deg 100% 52% / 55%);
}

.container__box {
    height: 100%;
    display: flex;
}

/* ------------------------------------------------ */
/* Left Box --------------------------------------- */
.box__left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 1.5rem;
    color: #f5f5f5;
    padding-left: 10%;
    margin-right: 2rem;
}

.box__left h1 {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
}

.box__left p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}

/* ------------------------------------------------ */
/* Right box -------------------------------------- */
.box__right {
    width: 50%;
    /* height: 100%; */
    text-align: center;
    padding-right: 10%;
    margin-left: 2rem;
}

.form__header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.form__header h2 {
    background: hsl(246, 23%, 48%);
    width: 100%;
    color: #f5f5f5;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0 hsla(0, 29%, 30%, 0.336);
    margin-bottom: 0.75rem;
}

.weight__700 {
    font-weight: 700;
}

.form {
    background: #f5f5f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0 hsla(0, 29%, 30%, 0.336);
    margin-top: 0.75rem;
}

.input__box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.form input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: solid 1px hsla(255, 2%, 64%, 0.253);
    margin: 0.5rem auto;
    position: relative;
}

.form input:focus {
    outline: none;
    border: solid 1px hsl(246, 23%, 48%);
}
/* error msgs ----------------------------- */
.icon {
    display: none;
    position: absolute;
}

.icon.display__icon {
    position: absolute;
    display: block;
    top: 33%;
    right: 3%;
}

.error {
    display: none;
    /* visibility: hidden; */
    /* height: 1rem;
    width: 10rem; */
    align-self: flex-end;
    text-align: end;
    font-size: 0.7rem;
    font-weight: 400;
    color: hsl(0deg 100% 52% / 55%);
}

.error.display__error{
    display: block;
}


.submit__button {
    background: hsl(154, 59%, 51%);
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #f5f5f5;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.submit__button:active {
    background: black;
}

.form h3 {
    padding: 0.5rem;
    font-size: 0.7rem;
    color: #b4afaf;
}

.letraVermelha {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}


/* ------------------------------------------------ */
/* mobile responsive ----------------------------- */
@media (max-width:900px){
    body {
        height: 100%;
        padding: 0;
    }
    .container {
        height: 100%;
        padding: 5rem 0;
        max-height: 100%;
    }

    .container__box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* ------------------------------------------------------------ */
    .box__left {
        width: 70%;
        text-align: center;
        padding: 0;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .box__left h1 {

    }

    .box__left p{

    }
    /* ------------------------------------------------------- */
    .box__right {
        width: 70%;
        padding: 0;
        margin-left: 0;
        margin-top: 2rem;
    }

    .form__header {
        padding: 0;
    }

    .form__header h2 {
        padding: 1rem;
    }

    .form {
       /* height: 100%; */
    }

    .form input {

    }
    .form button {

    }

    .form h3 {

    }    
}
/* lower than 650 px --------------------------------------- */
@media (max-width:650px){
    body {
        
    }
    .container {
        /* height: 100%;
        padding: 5rem 0; */
    }

    .container__box {
        
    }
    /* ------------------------------------------------------------ */
    .box__left {
        width: 80%;
        text-align: center;
        padding: 0;
    }

    .box__left h1 {

    }

    .box__left p{

    }
    /* ------------------------------------------------------- */
    .box__right {
        width: 80%;
    }

    .form__header {

    }

    .form__header h2 {

    }

    .form {
       /* height: 100%; */
    }

    .form input {

    }
    .form button {

    }

    .form h3 {

    }    
}
/* lower than 515 px ----------------------------------------- */
@media (max-width:515px){
    body {
        
    }
    .container {
        /* padding: 5rem 0; */
    }

    .container__box {
        padding: 0 1.5rem;
    }
    /* ------------------------------------------------------------ */
    .box__left {
        width: 100%;
    }

    .box__left h1 {

    }

    .box__left p{

    }
    /* ------------------------------------------------------- */
    .box__right {
        width: 100%;
    }

    .form__header {

    }

    .form__header h2 {
        padding-inline: 3rem;
    }

    .form {
       /* height: 100%; */
    }

    .form input {

    }
    .form button {

    }

    .form h3 {

    }    
}

